basePath: /api/v1
definitions:
  model.PromptTemplate:
    description: Prompt template entity with versioning support
    properties:
      content:
        type: string
      created_at:
        type: string
      description:
        type: string
      id:
        type: integer
      is_active:
        type: boolean
      name:
        type: string
      updated_at:
        type: string
      variables:
        type: string
      version:
        type: string
    type: object
  model.Response:
    properties:
      data: {}
      message:
        type: string
    type: object
info:
  contact:
    email: support@example.com
    name: API Support Team
    url: http://www.example.com/support
  description: Minos API
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: http://swagger.io/terms/
  title: Minos API
  version: "1.0"
paths:
  /health:
    get:
      consumes:
      - '*/*'
      description: get the status of server.
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Response'
      summary: Show the status of server.
      tags:
      - health
  /prompts:
    get:
      consumes:
      - application/json
      description: Get all prompt templates with optional filters
      parameters:
      - description: Filter by template name
        in: query
        name: name
        type: string
      - description: Filter by template version
        in: query
        name: version
        type: string
      - description: Filter by active status
        in: query
        name: is_active
        type: boolean
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/model.Response'
            - properties:
                data:
                  items:
                    $ref: '#/definitions/model.PromptTemplate'
                  type: array
              type: object
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/model.Response'
      summary: Get all prompt templates
      tags:
      - prompts
  /prompts/{id}:
    delete:
      consumes:
      - application/json
      description: Delete a prompt template by ID (soft delete)
      parameters:
      - description: Prompt Template ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/model.Response'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/model.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/model.Response'
      summary: Delete a prompt template
      tags:
      - prompts
swagger: "2.0"
